.grid_12#alternate
	%h1 Focus on your processes. We'll cover the rest.
	%p
		With Riverflow, just create your
		%a{:href => "http://processmaker.com/"} ProcessMaker 
		subdomain and start working on BPM.
	%iframe{:src => "http://www.screenr.com/embed/q5r8", :width => "650", :height => "396", :frameborder => "0"}
	
	%h2 Do you have an invite?
	%p Leave your email address and get access to Riverflow:
	:plain
		<form action="https://tinyletter.com/riverflow" method="post" target="popupwindow" onsubmit="window.open('https://tinyletter.com/riverflow', 'popupwindow', 'scrollbars=yes,width=800,height=600');return true"><input type="text" name="email" id="tlemail" placeholder="Email address here"/><input type="hidden" value="1" name="embed"/><br /><input type="submit" value="Subscribe" /></form>

.grid_9
	.box
		%h2 Social
		%p
			Follow
			%a{:href => "http://twitter.com/yamilurbina"} @yamilurbina
			for all the Riverflow news.
			%p
				:plain
			<a href="https://twitter.com/share" class="twitter-share-button" data-url="http://riverflow.in" data-text="Riverflow: BPM in the Cloud" data-via="yamilurbina" data-size="large" data-hashtags="BPM">Tweet</a>
			<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
			%p
				:plain
					<!-- Place this tag where you want the +1 button to render. -->
					<div class="g-plusone" data-href="http://riverflow.in"></div>

					<!-- Place this tag after the last +1 button tag. -->
					<script type="text/javascript">
					  (function() {
					    var po = document.createElement('script'); po.type = 'text/javascript'; po.async = true;
					    po.src = 'https://apis.google.com/js/plusone.js';
					    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(po, s);
					  })();
					</script>

.grid_3
	%h2 Links
	%p
		%a{:href => '#'} Terms and Conditions
		%br
		%a{:href => '#'} Privacy Policy
