.grid_9
	.box
		%h1 Focus on your processes. We'll cover the rest.
		%p Riverflow allows you to create ProcessMaker instances and workspaces on-demand. Forget about upgrades, databases, servers and all that stuff.
		%p
			:plain
				<iframe src="http://www.screenr.com/embed/q5r8" width="650" height="396" frameborder="0"></iframe>
		%p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
		tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
		quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
		consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
		cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
		proident, sunt in culpa qui officia deserunt mollit anim id est laborum.

		%p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
		tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
		quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
		consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
		cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
		proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
.grid_3
	%h2 Sign up
	%p Riverflow is invite only. You can ask a friend to send you an invitation.
	%p
		You can also follow
		%a{:href => "http://twitter.com/yamilurbina"} @yamilurbina
		to be notified about new invites.
	%p
		:plain
			<a href="https://twitter.com/share" class="twitter-share-button" data-url="http://riverflow.in" data-text="Riverflow: BPM in the Cloud" data-via="yamilurbina" data-size="large" data-hashtags="BPM">Tweet</a>
			<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
	%h2 Don't want to wait?
	:plain
		<form style="text-align:center;" action="https://tinyletter.com/riverflow" method="post" target="popupwindow" onsubmit="window.open('https://tinyletter.com/riverflow', 'popupwindow', 'scrollbars=yes,width=800,height=600');return true"><p><label for="tlemail">Subscribe to the newsletter and get an early invite:</label></p><p><input type="text" style="width:180px" name="email" id="tlemail" placeholder="me@mail.com"/></p><input type="hidden" value="1" name="embed"/><input type="submit" value="Subscribe" /></form>
