%p Great news!

%p #{@inviter} has invited you to Riverflow: BPM in the cloud, where you can create ProcessMaker instances on-demand.

%p To create your account, click the link below and fill in your details:

%p
	%a{:href => "#{@uri}"} #{@uri}

%ul
	%li
		What you can do on Riverflow:
		%ul
			%li Create ProcessMaker instances with your own subdomain
			%li Add workspaces on-demand
			%li Invite friends to test the service

%p
	Follow me on twitter
	%a{:href => 'http://twitter.com/yamilurbina'}@yamilurbina
	for the latest updates and news regarding Riverflow.

%p Enjoy BPM in the cloud!

%p - Yamil Urbina
