.grid_8.push_2
	.box
		%h1= @page_title
		%p What happened!! Just kidding, we'll send you the instructions to your email.
		%form#invite{:action => '/i/forgot/my/password', :method => 'post'}
			%p
				%label
					%span Email Address
					%input#inviteEmail{:type => 'email', :name => 'email', :maxlength => '67'}

			%input{:type => 'submit', :value => 'Reset'}
