.grid_8.push_2
	.box
		%h1= @page_title
		%p
			Don't have an account? Ask a friend or colleague to send you an invite :). Did you forget your password?
			%a{:href => '/i/forgot/my/password'} Reset it here.
		%form#login{:action => '/login', :method => 'post'}
			%p
				%label
					%span Email Address
					%input#yourEmail{:type => 'email', :name => 'email', :placeholder => 'me@mail.com', :maxlength => '67'}

			%p
				%label
					%span Password
					%input#yourPassword{:type => 'password', :name => 'password', :maxlength => '67'}

			%input{:type => 'submit', :value => 'Login'}
