.grid_8.push_2
	.box
		%h1 Signup - #{@invite_email}
		%p So happy you are join in! We just need to register a name and a password and that's it.
		%form#signup{:action => "/invites/#{@invite}", :method => 'post'}
			%p
				%label
					%span Your name
					%input#signupName{:type => 'text', :name => 'name', :title => 'Name or a nickname :)'}
			%p
				%label
					%span Password
					%input#signupPassword{:type => 'password', :name => 'password', :title => '6 to 18 characters'}

			%input{:type => 'submit', :value => 'Sign me up'}