/* =============================================================================
	 HTML5 Boilerplate CSS: h5bp.com/css
	 ========================================================================== */

article, aside, details, figcaption, figure, footer, header, hgroup, nav, section { display: block; }
audio, canvas, video { display: inline-block; *display: inline; *zoom: 1; }
audio:not([controls]) { display: none; }
[hidden] { display: none; }

html { font-size: 100%; -webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%; }
html, button, input, select, textarea { font-family: sans-serif; color: #222; }
body { margin: 0; font-size: 1em; line-height: 1.4; }

a { color: #00e; }
a:visited { color: #551a8b; }
a:hover { color: #06e; }
a:focus { outline: thin dotted; }
a:hover, a:active { outline: 0; }

abbr[title] { border-bottom: 1px dotted; }
b, strong { font-weight: bold; }
blockquote { margin: 1em 40px; }
dfn { font-style: italic; }
hr { display: block; height: 1px; border: 0; border-top: 1px solid #ccc; margin: 1em 0; padding: 0; }
ins { background: #ff9; color: #000; text-decoration: none; }
mark { background: #ff0; color: #000; font-style: italic; font-weight: bold; }
pre, code, kbd, samp { font-family: monospace, serif; _font-family: 'courier new', monospace; font-size: 1em; }
pre { white-space: pre; white-space: pre-wrap; word-wrap: break-word; }
q { quotes: none; }
q:before, q:after { content: ""; content: none; }
small { font-size: 85%; }

sub, sup { font-size: 75%; line-height: 0; position: relative; vertical-align: baseline; }
sup { top: -0.5em; }
sub { bottom: -0.25em; }

ul, ol { margin: 1em 0; padding: 0 0 0 40px; }
dd { margin: 0 0 0 40px; }
nav ul, nav ol { list-style: none; list-style-image: none; margin: 0; padding: 0; }

img { border: 0; -ms-interpolation-mode: bicubic; vertical-align: middle; }

svg:not(:root) { overflow: hidden; }

figure { margin: 0; }

form { margin: 0; }
fieldset { border: 0; margin: 0; padding: 0; }
label { cursor: pointer; }
legend { border: 0; *margin-left: -7px; padding: 0; white-space: normal; }
button, input, select, textarea { font-size: 100%; margin: 0; vertical-align: baseline; *vertical-align: middle; }
button, input { line-height: normal; }
button, input[type="button"], input[type="reset"], input[type="submit"] { cursor: pointer; -webkit-appearance: button; *overflow: visible; }
button[disabled], input[disabled] { cursor: default; }
input[type="checkbox"], input[type="radio"] { box-sizing: border-box; padding: 0; *width: 13px; *height: 13px; }
input[type="search"] { -webkit-appearance: textfield; -moz-box-sizing: content-box; -webkit-box-sizing: content-box; box-sizing: content-box; }
input[type="search"]::-webkit-search-decoration, input[type="search"]::-webkit-search-cancel-button { -webkit-appearance: none; }
button::-moz-focus-inner, input::-moz-focus-inner { border: 0; padding: 0; }
textarea { overflow: auto; vertical-align: top; resize: vertical; }
input:valid, textarea:valid {  }
input:invalid, textarea:invalid { background-color: #f0dddd; }

table { border-collapse: collapse; border-spacing: 0; }
td { vertical-align: top; }

.chromeframe { margin: 0.2em 0; background: #ccc; color: black; padding: 0.2em 0; }

/*
	960 Grid System ~ Core CSS.
	Learn more ~ http://960.gs/

	Licensed under GPL and MIT.
*/

/*
	Forces backgrounds to span full width,
	even if there is horizontal scrolling.
	Increase this if your layout is wider.

	Note: IE6 works fine without this fix.
*/

body {
	min-width: 960px;
}

/* `Container
----------------------------------------------------------------------------------------------------*/

.container_12 {
	margin-left: auto;
	margin-right: auto;
	width: 960px;
}

/* `Grid >> Global
----------------------------------------------------------------------------------------------------*/

.grid_1,
.grid_2,
.grid_3,
.grid_4,
.grid_5,
.grid_6,
.grid_7,
.grid_8,
.grid_9,
.grid_10,
.grid_11,
.grid_12 {
	display: inline;
	float: left;
	margin-left: 10px;
	margin-right: 10px;
}

.push_1, .pull_1,
.push_2, .pull_2,
.push_3, .pull_3,
.push_4, .pull_4,
.push_5, .pull_5,
.push_6, .pull_6,
.push_7, .pull_7,
.push_8, .pull_8,
.push_9, .pull_9,
.push_10, .pull_10,
.push_11, .pull_11 {
	position: relative;
}

/* `Grid >> Children (Alpha ~ First, Omega ~ Last)
----------------------------------------------------------------------------------------------------*/

.alpha {
	margin-left: 0;
}

.omega {
	margin-right: 0;
}

/* `Grid >> 12 Columns
----------------------------------------------------------------------------------------------------*/

.container_12 .grid_1 {
	width: 60px;
}

.container_12 .grid_2 {
	width: 140px;
}

.container_12 .grid_3 {
	width: 220px;
}

.container_12 .grid_4 {
	width: 300px;
}

.container_12 .grid_5 {
	width: 380px;
}

.container_12 .grid_6 {
	width: 460px;
}

.container_12 .grid_7 {
	width: 540px;
}

.container_12 .grid_8 {
	width: 620px;
}

.container_12 .grid_9 {
	width: 700px;
}

.container_12 .grid_10 {
	width: 780px;
}

.container_12 .grid_11 {
	width: 860px;
}

.container_12 .grid_12 {
	width: 940px;
}

/* `Prefix Extra Space >> 12 Columns
----------------------------------------------------------------------------------------------------*/

.container_12 .prefix_1 {
	padding-left: 80px;
}

.container_12 .prefix_2 {
	padding-left: 160px;
}

.container_12 .prefix_3 {
	padding-left: 240px;
}

.container_12 .prefix_4 {
	padding-left: 320px;
}

.container_12 .prefix_5 {
	padding-left: 400px;
}

.container_12 .prefix_6 {
	padding-left: 480px;
}

.container_12 .prefix_7 {
	padding-left: 560px;
}

.container_12 .prefix_8 {
	padding-left: 640px;
}

.container_12 .prefix_9 {
	padding-left: 720px;
}

.container_12 .prefix_10 {
	padding-left: 800px;
}

.container_12 .prefix_11 {
	padding-left: 880px;
}

/* `Suffix Extra Space >> 12 Columns
----------------------------------------------------------------------------------------------------*/

.container_12 .suffix_1 {
	padding-right: 80px;
}

.container_12 .suffix_2 {
	padding-right: 160px;
}

.container_12 .suffix_3 {
	padding-right: 240px;
}

.container_12 .suffix_4 {
	padding-right: 320px;
}

.container_12 .suffix_5 {
	padding-right: 400px;
}

.container_12 .suffix_6 {
	padding-right: 480px;
}

.container_12 .suffix_7 {
	padding-right: 560px;
}

.container_12 .suffix_8 {
	padding-right: 640px;
}

.container_12 .suffix_9 {
	padding-right: 720px;
}

.container_12 .suffix_10 {
	padding-right: 800px;
}

.container_12 .suffix_11 {
	padding-right: 880px;
}

/* `Push Space >> 12 Columns
----------------------------------------------------------------------------------------------------*/

.container_12 .push_1 {
	left: 80px;
}

.container_12 .push_2 {
	left: 160px;
}

.container_12 .push_3 {
	left: 240px;
}

.container_12 .push_4 {
	left: 320px;
}

.container_12 .push_5 {
	left: 400px;
}

.container_12 .push_6 {
	left: 480px;
}

.container_12 .push_7 {
	left: 560px;
}

.container_12 .push_8 {
	left: 640px;
}

.container_12 .push_9 {
	left: 720px;
}

.container_12 .push_10 {
	left: 800px;
}

.container_12 .push_11 {
	left: 880px;
}

/* `Pull Space >> 12 Columns
----------------------------------------------------------------------------------------------------*/

.container_12 .pull_1 {
	left: -80px;
}

.container_12 .pull_2 {
	left: -160px;
}

.container_12 .pull_3 {
	left: -240px;
}

.container_12 .pull_4 {
	left: -320px;
}

.container_12 .pull_5 {
	left: -400px;
}

.container_12 .pull_6 {
	left: -480px;
}

.container_12 .pull_7 {
	left: -560px;
}

.container_12 .pull_8 {
	left: -640px;
}

.container_12 .pull_9 {
	left: -720px;
}

.container_12 .pull_10 {
	left: -800px;
}

.container_12 .pull_11 {
	left: -880px;
}

/* `Clear Floated Elements
----------------------------------------------------------------------------------------------------*/

/* http://sonspring.com/journal/clearing-floats */

.clear {
	clear: both;
	display: block;
	overflow: hidden;
	visibility: hidden;
	width: 0;
	height: 0;
}

/* http://www.yuiblog.com/blog/2010/09/27/clearfix-reloaded-overflowhidden-demystified */

.clearfix:before,
.clearfix:after,
.container_12:before,
.container_12:after {
	content: '.';
	display: block;
	overflow: hidden;
	visibility: hidden;
	font-size: 0;
	line-height: 0;
	width: 0;
	height: 0;
}

.clearfix:after,
.container_12:after {
	clear: both;
}

/*
	The following zoom:1 rule is specifically for IE6 + IE7.
	Move to separate stylesheet if invalid CSS is a problem.
*/

.clearfix,
.container_12 {
	zoom: 1;
}

/* ===== Primary Styles ========================================================
	 Author: Yamil Urbina
========================================================================== */

@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,700);

body {
	font-family:'Helvetica Neue',Helvetica,Arial,Sans-Serif;
	font-size:13px;
	color:#685C5E;
	background:#E5ECDA;
	cursor:default;
	line-height:1.6em;
}

h1,h2,h3,h4,h5,h6 {
	font-family:'Open Sans',Arial,Sans-Serif;
	font-weight:bold;
	font-style:normal;
	margin:0;
	padding:8px 0 3px 0;
	position:relative;
	display:block;
	color:#555;
	text-shadow: 0 1px 0 white;
	border-bottom:1px solid #ccc;
	letter-spacing:-0.06em;
	line-height:1.1em;
}

p {margin-bottom:18px;}

a {color:#679473;}

/* Header */
#header {
	background:#4F747D;
	border-bottom:1px solid #685C5E;
	/*text-shadow: 1px 1px 0 rgba(34, 23, 23, 0.6);*/
	/*-webkit-box-shadow: 0px 1px 5px 1px rgba(0, 0, 0, 0.5);
	box-shadow: 0px 1px 5px 1px rgba(0, 0, 0, 0.5);*/
	.container_12 {position:relative;}
	a {color:#fff;text-decoration:none;font-weight:normal;}
	h1 {
		font-size:24px;margin:7px 0 0 0;border:0;line-height:1;;
		a {
    		width: 185px;
    		height: 24px;
    		background: transparent url('/images/riverflow.png') 0 0 no-repeat;
    		display: block;
    		border: 0;
    		text-shadow: none;
    		font: 0/0 a;
		}
	}

	ul.main_menu {
		list-style:none;margin:12px 0 11px 0;padding:0;float:right;color:#fff;
		font-size:15px;
		li {
			float:left;
			font-weight:bold;
			margin-left:36px;
			display: inline-block;
			span {
				display:block;
				font-weight:normal;
				padding:1px 4px;
			}
			a {
				padding:5px 0 6px 0;
				display:block;
				color:#E5ECDA;
				font-weight:bold;
			}
			a:hover {
				color:#B6E7E1;
			}

			a.btn {
				display:inline-block;
				font-weight:bold;
				background-color: #7FBF4D;
				padding:6px 16px;
				text-shadow: 1px 1px 0 rgba(34, 23, 23, 0.5);
				background-color: #7FBF4D;
				background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #7FBF4D), color-stop(100%, 
				#63A62F));
				background-image: -webkit-linear-gradient(top, #7FBF4D, #63A62F);
				background-image: -moz-linear-gradient(top, #7FBF4D, #63A62F);
				background-image: -ms-linear-gradient(top, #7FBF4D, #63A62F);
				background-image: -o-linear-gradient(top, #7FBF4D, #63A62F);
				background-image: linear-gradient(top, #7FBF4D, #63A62F);
				border: 1px solid #63A62F;
				border-bottom: 1px solid #5B992B;
				-webkit-border-radius: 3px;
				-moz-border-radius: 3px;
				border-radius: 3px;
				-webkit-box-shadow: inset 0 1px 0 0 #96CA6D;
				-moz-box-shadow: inset 0 1px 0 0 #96ca6d;
				box-shadow: inset 0 1px 0 0 #96CA6D;
				color: white;
				line-height: 1;
				text-align: center;
				text-shadow: 0 -1px 0 #4C9021;
			}
		}
	}
}

/* Big Menu */
#big-menu {
	.grid_8 {border-bottom:1px solid #bbb;}
	ul {
		list-style:none;margin:28px 0 0 0;padding:0;
		font-size:17px;		
		li {
			display:block;float:left;margin:0 4px;
			a {
				font-weight:bold;color:#777;text-decoration:none;
				padding:4px 8px;
			}
			a:hover, a.selected {
				color:#E0815E;
			}
		}
	}

	.user_info {
		background:#f5f8f0;border:1px solid #ccc;border-top:0;
		-webkit-border-radius:3px;border-radius:3px;
		.info {
			font-size:15px;text-align:right;font-weight:normal;
			padding:8px 12px 8px;
			a.settings {font-size:13px;display:block;font-weight:bold;}
		}
	}
}

/* Content */
#content {
	padding:18px 0;
	h1 {
		border-bottom:1px solid #ccc;
		padding-bottom:20px;margin:0 0 16px 0;
	}
}

#instances_list {
	position:relative;
	h2 {
		background-color:#eee;display:block;
		padding:10px 12px 8px;position:relative;
		span {
			float:right;font-weight:normal;font-size:14px;
		}
	}
}

/*	Alternate	*/
#alternate {
	text-align:center;
	margin:18px 0 24px;
	font-size:16px;
	h1,h2 {font-size:36px;border:0;margin:0;padding:0;}
	p {margin-bottom:24px;}
	iframe {
		-webkit-box-shadow: 0 4px 6px #555;
		box-shadow: 0 4px 6px #555;
		margin-bottom:48px;
		background-color:#000;
	}
	#tlemail {
		width:380px;
		padding:10px;
	}
}

/* Beta Signup */
.beta_signup {
	font-size:24px;
	text-align:center;border-bottom:1px solid #ccc;
	padding:4px 0;margin:4px 0;display:block;clear:both;width:100%;
	span {float:left;font-weight:bold;text-align:center;}
}

/* Footer*/
#footer {
	padding:16px 0 0;
	h2{border:0;}
}

/* Independent widgets */
.msg {
	width:480px;
	margin:0 auto;
	text-align:center;
	background:#679473;
	padding:0;
	position:absolute;
	left:220px;
	font-size:18px;
	display:none;
	color:#fff;
	-webkit-box-shadow: 0 3px 4px #555;
	box-shadow: 0 3px 4px #555;
	-webkit-border-radius:3px;
	border-radius:3px;
}

.question {
	display:block;
	background:#444;
	text-align:center;
	width:180px;
	position:absolute;
	span {text-align:center;display:block;}
}

span.link {
	position:absolute;
	top:2px; right:0;
	a {
		background:#C14249;color:#fff;text-shadow: 1px 1px 0 rgba(34, 23, 23, 0.6);
		text-decoration:none;font-size:12px;
		font-family:'Helvetica Neue',Helvetica,Arial,Sans-Serif;
		text-transform:uppercase;
		padding:8px;
		-webkit-box-shadow: 0 2px 3px #999;
		box-shadow: 0 2px 3px #999;
		-webkit-border-radius: 4px;
		border-radius: 4px;
	}
	a:active {margin-top:1px;}
}

#lightbox {
	display:none;
	width:590px;
}

#instanceUrl, #workspaceName {
	text-transform:lowercase;
}

.box {
	background-color:#fff;
	padding:13px 22px 20px;
	border:1px solid #bbb;
	-webkit-box-shadow: 0 3px 4px #bbb;
	box-shadow: 0 3px 4px #bbb;
	-webkit-border-radius:3px;
	border-radius:3px;
	font-size:15px;
	line-height:1.4em;
}

.instances {
	li {margin:8px 0;padding:8px 0;}
	h2 {border:0;margin:0;padding:0;line-height:1;}
}

form {
	input {font-family:Arial, 'Helvetica Neue', Helvetica, sans-serif;}
	p {
		margin:8px;
		display:block;
		border-bottom:1px solid #ccc;
		padding:12px;
		span {
			font-weight:bold;
			width:120px;
			display:block;
			float:left;
			padding-top:6px;
			color:#555;
		}
		span.unhappyMessage {
			font-size:11px;
			color:#C14249;
			position:absolute;
			right:50px;
			width:155px;
		}
	}
	input[type=text], input[type=email], input[type=password] {
		border:1px solid #bbb;
		padding:5px;
		margin:0;
		color:#000;
		width:240px;
	}
	/*input[type=submit] {
		padding:8px 16px;
		font-weight:bold;
		display:inline-block;
		margin:12px 0 8px 20px;
	}*/
	input[type=submit] {
		background-color: #7FBF4D;
		background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #7FBF4D), color-stop(100%, 
		#63A62F));
		background-image: -webkit-linear-gradient(top, #7FBF4D, #63A62F);
		background-image: -moz-linear-gradient(top, #7FBF4D, #63A62F);
		background-image: -ms-linear-gradient(top, #7FBF4D, #63A62F);
		background-image: -o-linear-gradient(top, #7FBF4D, #63A62F);
		background-image: linear-gradient(top, #7FBF4D, #63A62F);
		border: 1px solid #63A62F;
		border-bottom: 1px solid #5B992B;
		-webkit-border-radius: 3px;
		-moz-border-radius: 3px;
		border-radius: 3px;
		-webkit-box-shadow: inset 0 1px 0 0 #96CA6D;
		-moz-box-shadow: inset 0 1px 0 0 #96ca6d;
		box-shadow: inset 0 1px 0 0 #96CA6D;
		color: white;
		line-height: 1;
		padding:8px 16px;
		margin:12px 0 8px 20px;
		text-align: center;
		text-shadow: 0 -1px 0 #4C9021;
	}
	.url {
		border:1px solid #bbb;
		padding:5px;
		span {padding-top:0;}
		input {padding:0;margin:0;border:0;text-align:right;width:160px;outline:0;}
		small {font-size:13px;font-weight:bold;}
	}
}

/*
Tipsy tips :P
http://onehackoranother.com/projects/jquery/tipsy
*/
.tipsy { font-size: 11px; position: absolute; padding: 5px; z-index: 100000; }
  .tipsy-inner { background-color: #000; color: #FFF; max-width: 200px; padding: 5px 8px 4px 8px; text-align: center; }

  /* Rounded corners */
  .tipsy-inner { border-radius: 3px; -moz-border-radius: 3px; -webkit-border-radius: 3px; }
  
  /* Uncomment for shadow */
  /*.tipsy-inner { box-shadow: 0 0 5px #000000; -webkit-box-shadow: 0 0 5px #000000; -moz-box-shadow: 0 0 5px #000000; }*/
  
  .tipsy-arrow { position: absolute; width: 0; height: 0; line-height: 0; border: 5px dashed #000; }
  
  /* Rules to colour arrows */
  .tipsy-arrow-n { border-bottom-color: #000; }
  .tipsy-arrow-s { border-top-color: #000; }
  .tipsy-arrow-e { border-left-color: #000; }
  .tipsy-arrow-w { border-right-color: #000; }
  
	.tipsy-n .tipsy-arrow { top: 0px; left: 50%; margin-left: -5px; border-bottom-style: solid; border-top: none; border-left-color: transparent; border-right-color: transparent; }
    .tipsy-nw .tipsy-arrow { top: 0; left: 10px; border-bottom-style: solid; border-top: none; border-left-color: transparent; border-right-color: transparent;}
    .tipsy-ne .tipsy-arrow { top: 0; right: 10px; border-bottom-style: solid; border-top: none;  border-left-color: transparent; border-right-color: transparent;}
  .tipsy-s .tipsy-arrow { bottom: 0; left: 50%; margin-left: -5px; border-top-style: solid; border-bottom: none;  border-left-color: transparent; border-right-color: transparent; }
    .tipsy-sw .tipsy-arrow { bottom: 0; left: 10px; border-top-style: solid; border-bottom: none;  border-left-color: transparent; border-right-color: transparent; }
    .tipsy-se .tipsy-arrow { bottom: 0; right: 10px; border-top-style: solid; border-bottom: none; border-left-color: transparent; border-right-color: transparent; }
  .tipsy-e .tipsy-arrow { right: 0; top: 50%; margin-top: -5px; border-left-style: solid; border-right: none; border-top-color: transparent; border-bottom-color: transparent; }
  .tipsy-w .tipsy-arrow { left: 0; top: 50%; margin-top: -5px; border-right-style: solid; border-left: none; border-top-color: transparent; border-bottom-color: transparent; }

/* JoyRide http://www.zurb.com/playground/jquery-joyride-feature-tour-plugin */

/* Artfully masterminded by ZURB */
body {
  position: relative;
}

#riverflowTour { display: none; }

/* Default styles for the container */
.joyride-tip-guide {
  position: absolute;
  background: #000;
  background: rgba(0,0,0,0.8);

  color: #fff;
  width: 300px;
  z-index: 10;
  font-family: "HelveticaNeue", "Helvetica Neue", "Helvetica", Helvetica, Arial, Lucida, sans-serif;
  font-weight: normal;
     -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
          border-radius: 4px;
}
.joyride-content-wrapper
{
  padding: 10px 10px 15px 15px;
}

/* Mobile */
@media only screen and (max-width: 769px)
{
    .joyride-tip-guide
    {
        width: 100%;
    -moz-border-radius: 0;
    -webkit-border-radius: 0;
    border-radius: 0;
    }
  .joyride-tip-guide-wrapper
  {
width: 100%;
  }
}


/* Add a little css triangle pip, older browser just miss out on the fanciness of it */
.joyride-tip-guide span.joyride-nub {
  display: block;
  position: absolute;
  left: 22px;
  width: 0;
  height: 0;
  border: solid 14px;
  border: solid 14px;
}
.joyride-tip-guide span.joyride-nub.right {
   left: auto;
   right: 22px;
}
.joyride-tip-guide span.joyride-nub.top {
  /*
  IE7/IE8 Don't support rgba so we set the fallback
  border color here. However, IE7/IE8 are also buggy
  in that the fallback color doesn't work for
  border-bottom-color so here we set the border-color
  and override the top,left,right colors below.
  */
  border-color: #000;
  border-color: rgba(0,0,0,0.8);
  border-top-color: transparent !important;
  border-left-color: transparent !important;
  border-right-color: transparent !important;
  top: -28px;
  bottom: none;
}
.joyride-tip-guide span.joyride-nub.bottom {
  /*
  IE7/IE8 Don't support rgba so we set the fallback
  border color here. However, IE7/IE8 are also buggy
  in that the fallback color doesn't work for
  border-top-color so here we set the border-color
  and override the bottom,left,right colors below.
  */
  border-color: #000;
  border-color: rgba(0,0,0,0.8) !important;
  border-bottom-color: transparent !important;
  border-left-color: transparent !important;
  border-right-color: transparent !important;
  bottom: -28px;
  bottom: none;
}


/* Typography */
.joyride-tip-guide h1,.joyride-tip-guide h2,.joyride-tip-guide h3,.joyride-tip-guide h4,.joyride-tip-guide h5,.joyride-tip-guide h6 {
  line-height: 1.27;
  margin: 0;
  font-weight: bold;
  color: #fff;
	text-shadow:none;
	border:0;
}
.joyride-tip-guide h1 { font-size: 30px; }
.joyride-tip-guide h2 { font-size: 26px; }
.joyride-tip-guide h3 { font-size: 22px; }
.joyride-tip-guide h4 { font-size: 18px; }
.joyride-tip-guide h5 { font-size: 16px; }
.joyride-tip-guide h6 { font-size: 14px; }
.joyride-tip-guide p {
  margin: 0 0 18px 0;
  font-size: 14px;
  line-height: 18px;
}
.joyride-tip-guide a {
  color: rgb(255,255,255);
  text-decoration: none;
  border-bottom: dotted 1px rgba(255,255,255,0.6);
}
.joyride-tip-guide a:hover {
  color: rgba(255,255,255,0.8);
  border-bottom: none;
}

/* Button Style */
.joyride-tip-guide .joyride-next-tip {
  width: auto;
  padding: 6px 18px 4px;
  font-size: 13px;
  text-decoration: none;
  color: rgb(255,255,255);
  border: solid 1px rgb(0,60,180);
  background: rgb(0,99,255);
  background: -moz-linear-gradient(top, rgb(0,99,255) 0%, rgb(0,85,214) 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgb(0,99,255)), color-stop(100%,rgb(0,85,214)));
  background: -webkit-linear-gradient(top, rgb(0,99,255) 0%,rgb(0,85,214) 100%);
  background: -o-linear-gradient(top, rgb(0,99,255) 0%,rgb(0,85,214) 100%);
  background: -ms-linear-gradient(top, rgb(0,99,255) 0%,rgb(0,85,214) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0063ff', endColorstr='#0055d6',GradientType=0 );
  background: linear-gradient(top, rgb(0,99,255) 0%,rgb(0,85,214) 100%);
  text-shadow: 0 -1px 0 rgba(0,0,0,0.5);
  -webkit-border-radius: 2px;
     -moz-border-radius: 2px;
          border-radius: 2px;
  -webkit-box-shadow: 0px 1px 0px rgba(255,255,255,0.3) inset;
     -moz-box-shadow: 0px 1px 0px rgba(255,255,255,0.3) inset;
          box-shadow: 0px 1px 0px rgba(255,255,255,0.3) inset;
}
.joyride-next-tip:hover {
  color: rgb(255,255,255) !important;
  border: solid 1px rgb(0,60,180) !important;
  background: rgb(43,128,255);
  background: -moz-linear-gradient(top, rgb(43,128,255) 0%, rgb(29,102,211) 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgb(43,128,255)), color-stop(100%,rgb(29,102,211)));
  background: -webkit-linear-gradient(top, rgb(43,128,255) 0%,rgb(29,102,211) 100%);
  background: -o-linear-gradient(top, rgb(43,128,255) 0%,rgb(29,102,211) 100%);
  background: -ms-linear-gradient(top, rgb(43,128,255) 0%,rgb(29,102,211) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2b80ff', endColorstr='#1d66d3',GradientType=0 );
  background: linear-gradient(top, rgb(43,128,255) 0%,rgb(29,102,211) 100%);
}

.joyride-timer-indicator-wrap {
  width: 50px;
  height: 3px;
  border: solid 1px rgba(255,255,255,0.1);
  position: absolute;
  right: 17px;
  bottom: 16px;
}
.joyride-timer-indicator {
  display: block;
  width: 0;
  height: inherit;
  background: rgba(255,255,255,0.25);
}

.joyride-close-tip {
  position: absolute;
  right: 10px;
  top: 10px;
  color: rgba(255,255,255,0.4) !important;
  text-decoration: none;
  font-family: Verdana, sans-serif;
  font-size: 10px;
  font-weight: bold;
  border-bottom: none !important;
}
.joyride-close-tip:hover {
  color: rgba(255,255,255,0.9) !important;
}


/* =============================================================================
	 Media Queries
	 ========================================================================== */

@media only screen and (min-width: 35em) {
	/* Style adjustments for viewports that meet the condition */
}

/* =============================================================================
	 Non-Semantic Helper Classes
	 ========================================================================== */

.ir { display: block; border: 0; text-indent: -999em; overflow: hidden; background-color: transparent; background-repeat: no-repeat; text-align: left; direction: ltr; *line-height: 0; }
.ir br { display: none; }
.hidden { display: none !important; visibility: hidden; }
.visuallyhidden { border: 0; clip: rect(0 0 0 0); height: 1px; margin: -1px; overflow: hidden; padding: 0; position: absolute; width: 1px; }
.visuallyhidden.focusable:active, .visuallyhidden.focusable:focus { clip: auto; height: auto; margin: 0; overflow: visible; position: static; width: auto; }
.invisible { visibility: hidden; }
.clearfix:before, .clearfix:after { content: ""; display: table; }
.clearfix:after { clear: both; }
.clearfix { *zoom: 1; }

/* =============================================================================
	 Print Styles
	 ========================================================================== */
 
@media print {
	* { background: transparent !important; color: black !important; box-shadow:none !important; text-shadow: none !important; filter:none !important; -ms-filter: none !important; } /* Black prints faster: h5bp.com/s */
	a, a:visited { text-decoration: underline; }
	a[href]:after { content: " (" attr(href) ")"; }
	abbr[title]:after { content: " (" attr(title) ")"; }
	.ir a:after, a[href^="javascript:"]:after, a[href^="#"]:after { content: ""; }  /* Don't show links for images, or javascript/internal links */
	pre, blockquote { border: 1px solid #999; page-break-inside: avoid; }
	thead { display: table-header-group; } /* h5bp.com/t */
	tr, img { page-break-inside: avoid; }
	img { max-width: 100% !important; }
	@page { margin: 0.5cm; }
	p, h2, h3 { orphans: 3; widows: 3; }
	h2, h3 { page-break-after: avoid; }
}